<div class="page-wrapper">
    <div class="recipe-container">
        <div class="recipe-header">
            <button class="delete-recipe" data-id={{recipe.r_id}}><i class="fas fa-trash-alt fa-lg">Delete</i></button>
            <a href="/recipes/update/{{recipe.r_id}}" class="update-recipe"><i class="far fa-edit fa-lg">Update</i></a>
            <h1 class="">Recipe Title: {{recipe.title}}</h1>
        </div>
        <div class="recipe-info">
            <div class="recipe-author">
                <h4>Author's name: {{recipe.username}}</h4>
            </div>
            <div class="recipe-description">
                <p class="description">
                    {{recipe.directions}}
                </p>
            </div>
            <button id="recipe-save-button" class="recipe-button">Save Recipe</button>
        </div>
    </div>
</div>